@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:  'Cabinet Grotesk';
    src: url(/fonts/CabinetGrotesk-Bold.woff2) format("woff2"),
        url(/fonts/CabinetGrotesk-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family:  'Cabinet Grotesk';
    src: url(/fonts/CabinetGrotesk-Extrabold.woff2) format("woff2"),
        url(/fonts/CabinetGrotesk-Extrabold.woff) format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}


@layer base {
    *, 
    *::before, 
    *::after, 
    html {
        @apply relative antialiased overscroll-none font-cabinet text-[1.4vw] sm:text-[1.08vw] font-bold;
    }

    ::selection{
        @apply bg-peach text-peach-light;
    }

    body {
        @apply bg-peach-light text-peach-dark overflow-hidden;
    }
}

@layer components {
    .magnetic {
        margin: -100px;
        padding: 100px;
        display: inline-block;
        border-radius: 50%;
    }
}